/* style sheet for MAX webapp */

.container-fluid {
    padding: 0 5% 1% 5%;
}

.panel-title {
    font-size: 18px;
}

#word-cloud {
    text-align: center;
}

#file-upload {
    padding: 1%;
}

#thumbnails img {
    width: 24%;
}

#thumbnails {
    max-height: 75vh;
    width: 100%;
    overflow: auto;
}