/* style sheet for MAX web app */

body .ibm-code {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.container-fluid {
    padding: 1% 2%;
}

#codait-logo {
    min-width: 162px;
    min-height: 150px;
}

#codait-logo img {
    width: 162px;
    height: 150px;
}

.title-section h1 {
    margin-top: 10px;
}

.panel-title {
    font-size: 18px;
}

#thumbnails .select-buttons button {
    margin: 0px 12px 12px 0px;
}

#word-cloud {
    text-align: center;
}

.thumbnails li {
    width: 30%;
}

#thumbnails .image-scroller {
    max-height: 65vh;
    width: 100%;
    overflow: auto;
}

.ibm-code .btn-primary {
    background-color: #26A8A2;
    border-color: #32A8A3;
}

.ibm-code .btn-primary:hover {
    background-color: #1E8B87;
    border-color: #24D8B89;
}

.ibm-code ul.thumbnails.image_picker_selector li {
    float: none;
    display:inline-block;
    vertical-align: top;
}

.ibm-code  ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: #5FBFBB;
}