<!DOCTYPE html>
<html lang="en">

<head>

    <title>MAX Image Caption Generator - Image Cleanup</title>

    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/webapp.css">

    <script src="static/js/jquery-3.3.1.min.js"></script>

</head>

<body>

    <div class="container-fluid ibm-code">

        <div class="row">

            <div class="col-md-7">

                <div id="codait-logo" class="col-md-3">
                    <a href="/">
                        <img src="static/img/codait-logo.jpg"/>
                    </a>
                </div>

                <div class="col-md-4 title-section">
                    <h1>MAX Image Caption Generator</h1>
                </div>

                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">Image File Cleanup</div>
                        </div>
                        <div class="panel-body">
                            <button onclick="clean_up_imgs()" class="btn btn-primary">Delete User Uploaded Images</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <footer class="footer">
            <hr/>
            <p>Created at the IBM Center for Open-Source Data & AI Technologies</p>
        </footer>

    </div>

</body>

</html>

<script>
function clean_up_imgs() {
    if (confirm("Are you sure you wish to delete all user uploaded images?")) {
        $.ajax({
            url: "/cleanup",
            method: "delete",
            success: function(data) {
                alert("User uploaded images successfully deleted");
            }
        });
    }
}
</script>