<!DOCTYPE html>
<html lang="en">

<head>

    <title>MAX Image Caption Generator</title>

    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="static/image-picker.css" rel="stylesheet">
    <link href="static/webapp.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
    <script src="static/image-picker.min.js"></script>
    <script src="static/webapp.js"></script>

</head>

<body>

    <div class="container-fluid ibm-code">

        <div class="row">

            <div class="col-md-7">

                <div id="codait-logo" class="col-md-3">
                    <img src="static/codait-logo.jpg"/>
                </div>

                <div class="col-md-4 title-section">
                    <h1>MAX Image Caption Generator</h1>
                </div>


                <div class="col-md-5">

                    <div id="file-upload" class="panel panel-default">

                        <div class="panel-heading">
                            <div class="panel-title">Upload A New Image</div>
                        </div>

                        <div class="panel-body">
                            <form id="img-upload" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input id="file-input" type="file" name="file" multiple />
                                </div>
                                <button id="file-submit" type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-7">

                <div id="thumbnails" class="well">

                    <div class="select-buttons">
                        <button onclick="select_all(false)" class="btn btn-primary">Deselect All</button>
                        <button onclick="select_all(true)" class="btn btn-primary">Select All</button>
                    </div>

                    <div class="image-scroller">
                        <select multiple="multiple" class="image-picker">
                        {% for key, value in reversed(image_captions.items()) %}
                            <option data-img-src="{{ escape(key) }}"
                                    data-img-label="{{ escape(value) }}"
                                    data-img-alt="{{ escape(value) }}"
                                    value="{{ escape(key) }}">
                                {{ escape(value) }}
                            </option>
                        {% end %}
                        </select>
                    </div>
                </div>

            </div>

            <div class="col-md-5">

                <div>
                    <div id="word-cloud" class="col-md-6"></div>
                </div>

            </div>

        </div>

        <footer class="footer">
            <hr/>
            <p>Created at the IBM Center for Open-Source Data & AI Technologies</p>
        </footer>

    </div>

</body>

</html>
